* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
      background-color: #ffffff; 
    }
  }
  
  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .sign-up,
    .feature-1,
    .feature-2,
    .feature-3 {
      width: 50%;
    }  
    body {
      background-color: #ffffff; 
    }
  }
  
  /* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
      background-color: #ffffff;
    }
  }
  
  .page {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .section-menu {
    color: #fff;
    background-color: rgb(0, 0, 0);  
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .menu {
    width: 600px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
  }

  a:link,
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

  
  .header {
    height: auto;
    justify-content: inherit;
    align-items: inherit;  
    background-color: #B2D6FF;
  }
  
  .photo img {
    width: 100%;
    display: block;
    z-index: -1;
  }
  
  
  .content {
    background-color: #EAEDF0;
    height: 600px;
  }
  
  
  .sign-up {
    background-color: #D6E9FE;
  }
  
  
  .feature-1 {
    background-color: #F5CF8E;
  }
  
  
  .feature-2 {
    background-color: #F09A9D;
  }
  
  
  .feature-3 {
    background-color: #C8C6FA;
  }
  
  h3 {
    margin: 0px;
    background-image: url(assets/img/photo-small.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 260px;
    text-align: center;
    width: 100%;
    height: 600px;
  }