* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,  body {
    overflow-x: hidden;
}

  body {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    line-height: 1.8em;
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
    font-weight: normal;
    font-style: normal;
    text-align: center;
  }
  
  header {
    text-align: center;
    color: #FFF;
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99;
  }
  
  nav {
    background-color: #000000;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  
  nav li {
    list-style-type: none;
    width: 50%;
    padding-top: .5em;
    padding-bottom: .5em;
    border-top: 1px solid #888F95;
  }
  
  nav li:nth-of-type(1),
  nav li:nth-of-type(2) {
    border-top: none;
  }
  
  nav li:nth-of-type(2n) {
    border-left: 1px solid #888F95;
  }
  
  nav li.selected {
    color: #54A5C4;
  }
  
  nav a:link,
  nav a:visited {
    color: #ffffff;
    text-decoration: none;
  }
  
  nav a:hover,
  nav a:visited:hover,
  nav a:active,
  nav a:visited:active {
    color: #54A5C4;
    text-decoration: underline;
  }
  .nav button:link,
  .nav button:visited {
    display: block;
    text-decoration: none;
  
    color: #FFF;
    background-color: #4A90E2;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 1.8em auto;
  }
  
  .header button:hover,
  .header button:visited:hover {
    color: #FFF;
    background-color: #6AA9F4;
  }
  
  .header button:active,
  .header button:visited:active {
    color: #FFF;
    background-color: #3F7CC4;
  }
   
  nav li {
    width: auto;
    border-top: none;
  }
  
  nav li:nth-of-type(2n) {
    border-left: none;
  }
 
  .container {
    height: 100%;
    text-align: center;   
    color:white;  
    padding: 100px;            
}

  .container h1 {
      font-size: 35px;
      margin-bottom: 15px;  
  }
    
  .form-row {
      margin-top: 20px;
      margin-bottom: 20px;
      justify-content: flex-start;
      flex-direction: column;
      flex-wrap: wrap;
  }
    
  .form-row input {
      background-color: #FFFFFF;
      border: 1px solid #D6D9DC;
      border-radius: 3px;
      padding: 7px;
      font-size: 14px;
      width: 30%;
  }
    
  .form-row label {
      margin-bottom: 15px;
  }

  .form-row input:invalid {
      border: 1px solid #D55C5F;
      color: #D55C5F;
      box-shadow: none; 
     font-weight: bold;
  }
    
  .form-row textarea {
      font-family: "Helvetica", "Arial", sans-serif;
      font-size: 14px;
      border: 1px solid #D6D9DC;
      border-radius: 3px;
      height: 200px;
      margin-bottom: 10px;
      resize: none;
      width: 30%;
      position: relative;
      left:20px;
  }
    
    
  .form-row .instructions {
      color: #999999;
      font-size: 14px;
      margin-bottom: 10px;
      padding-left: 25px;
  }
    
  .form-row button {
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
      background-color: #1ca50a;
      border: none;
      border-radius: 3px;
      padding: 10px 40px;
      cursor: pointer;
  }
    
    
  .form-row button:hover {
      background-color: #1a700f;
  }
    
    
  .form-row button:active {
      background-color: #1a700f;
  }
    
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  header {
    font-size: 12px;
    }

  nav ul {
      width: 90%;
      font-size: 15px;
      height: 100px;
    }
    
    .container {
      padding: 100px;     
      width: 500px;       
  }
  
    .container h1 {
        font-size: 60px;
        margin-bottom: 15px;  
    }
      
    .form-row {
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }
      
    .form-row input {
        background-color: #FFFFFF;
        border: 1px solid #D6D9DC;
        border-radius: 3px;
        padding: 7px;
        font-size: 14px;
        width: 30%;
    }
      
    .form-row label {
        margin-bottom: 15px;
    }
  
    .form-row input:invalid {
        border: 1px solid #D55C5F;
        color: #D55C5F;
        box-shadow: none; 
       font-weight: bold;
    }
      
    .form-row textarea {
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 14px;
        border: 1px solid #D6D9DC;
        border-radius: 3px;
        height: 200px;
        margin-bottom: 10px;
        resize: none;
        width: 30%;
        position: relative;
        left:20px;
    }
      
      
    .form-row .instructions {
        color: #999999;
        font-size: 14px;
        margin-bottom: 10px;
        padding-left: 25px;
    }
      
    .form-row button {
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
        background-color: #1ca50a;
        border: none;
        border-radius: 3px;
        padding: 10px 40px;
        cursor: pointer;
    }
      
      
    .form-row button:hover {
        background-color: #1a700f;
    }
      
      
    .form-row button:active {
        background-color: #1a700f;
    }
  
  }
  
  /* Desktop Styles */
@media only screen and (min-width: 961px) {
  }
  