* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    line-height: 1.8em;
    color: #000000;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
    font-weight: normal;
    font-style: normal;
    text-align: center;
  }
  
  
  header {
    text-align: center;
    color: #FFF;
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99;
  }
  
  nav {
    background-color: #000000;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  
  nav li {
    list-style-type: none;
    width: 50%;
    padding-top: .5em;
    padding-bottom: .5em;
    border-top: 1px solid #888F95;
  }
  
  nav li:nth-of-type(1),
  nav li:nth-of-type(2) {
    border-top: none;
  }
  
  nav li:nth-of-type(2n) {
    border-left: 1px solid #888F95;
  }
  
  nav li.selected {
    color: #54A5C4;
  }
  
  nav a:link,
  nav a:visited {
    color: #ffffff;
    text-decoration: none;
  }
  
  nav a:hover,
  nav a:visited:hover,
  nav a:active,
  nav a:visited:active {
    color: #54A5C4;
    text-decoration: underline;
  }
  
  
  .hero {
    background-image: url(../img/hero.svg);
    background-repeat: no-repeat;
    background-size: 100%;  
    height: 500px;
    text-align: center;
  }
  
  .hero h1 {
    padding-top: 200px;
    font-size: 75px;
    color: white;
  }
    
  .nav button:link,
  .nav button:visited {
    display: block;
    text-decoration: none;
  
    color: #FFF;
    background-color: #4A90E2;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 1.8em auto;
  }
  
  .header button:hover,
  .header button:visited:hover {
    color: #FFF;
    background-color: #6AA9F4;
  }
  
  .header button:active,
  .header button:visited:active {
    color: #FFF;
    background-color: #3F7CC4;
  }
   
  nav li {
    width: auto;
    border-top: none;
  }
  
  nav li:nth-of-type(2n) {
    border-left: none;
  }
    

  .page {
    display: flex;
    flex-wrap: wrap;
  }
      
  .my-work {
    width: 100%;
    margin-top: 5%;
  }

  .section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    background-color: #EAEDF0;
    width: 40%;
    background-image: url(../img/chisono.jpg);
    color:white;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
  }
      
      
  .sign-up {
    background-color: #ffffff;
    width: 40%;
    color:rgb(44, 36, 36);
    padding-right: 10px;
    margin-top: 5%;
    margin-right: 10%;
    text-align: left;
    font-size: 15px;
  }
      
      
  .logo-design {
    width: 30%;
    margin-left: 5%;
    text-align: center;
    background-image: url(../img/background1.svg);
    background-repeat: no-repeat;
    background-size: 100%;  
    color: white;
    align-items: center;
    display:flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    padding-top: 25px;
    text-align: left;
  }
          
  .copywriting {
    background-color: #F09A9D;
    width: 30%;
    background-image: url(../img/background2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    align-items: center;
    display:flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    text-align: left;
  }    
      
  .discovery {
    background-color: #C8C6FA;
    width: 30%;
    margin-right: 5%;
    background-image: url(../img/background3.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    align-items: center;
    display:flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    text-align: left;
  }

  .wireframing {
    background-color: #ca2fa3;
    width: 35%;
    margin-left: 15%;
    background-image: url(../img/background4.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    align-items: center;
    display:flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    padding-top: 25px;
    text-align: left;
  }

  .ui-design {
    background-color: #71cc5e;
    width: 35%;
    margin-right: 15%;
    background-image: url(../img/background5.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    align-items: center;
    display:flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    padding-top: 25px;
    text-align: left;
  }

  .user-test {
    background-color: #71cc5e;
    width: 30%;
    margin-left: 10%;
    margin-bottom: 5%;
    background-image: url(../img/background6.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    align-items: center;
    display:flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    padding-top: 25px;
    text-align: left;
  }

  .final-exam {
    background-color: #f1c4ce;
    width: 50%;
    margin-right: 10%;
    margin-bottom: 5%;
    color: rgb(29, 26, 26);
    align-items: center;
    display:flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    padding-top: 25px;
    text-align: left;
  }

  .logo-design h1 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    align-items: flex-start ;
    font-size: 35px;
  }

  .logo-design p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .copywriting h1 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    align-items: flex-start ;
    font-size: 35px;
    padding-top: 40px;
  }

  .copywriting p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .discovery h1 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    align-items: flex-start ;
    font-size: 35px;
    padding-top: 40px;
  }

  .discovery p {
     padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
  }

  .wireframing h1 {
     border-bottom: 2px solid white;
     padding-bottom: 10px;
     align-items: flex-start ;
     font-size: 35px;
     padding-top: 40px;
  }

  .wireframing p {
     padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
  }

  .ui-design h1 {
       border-bottom: 2px solid white;
       padding-bottom: 10px;
       align-items: flex-start;
       font-size: 35px;
       padding-top: 40px;
  }

  .ui-design p {
       padding-top: 20px;
       padding-left: 20px;
       padding-right: 20px;
  }

  .user-test  h1 {
       border-bottom: 2px solid white;
       padding-bottom: 10px;
       align-items: flex-start;
       font-size: 35px;
       padding-top: 40px;
  }
                    
  .user-test  p {
       padding-top: 20px;
       padding-left: 20px;
       padding-right: 20px;
  }

  .final-exam h1 {
       border-bottom: 2px solid rgb(29, 27, 27);
       padding-bottom: 10px;
       align-items: flex-start;
       font-size: 35px;
       padding-top: 40px;
  }
                        
  .final-exam p {
       padding-top: 20px;
       padding-left: 20px;
       padding-right: 20px;
  }
                        
  .my-work h1 {
       font-size: 100px;
       text-align: left;
       margin-left: 10%;
       font-weight: bold;
  }
   

  .button:link,               
  .button:visited {             
      display: block;             
      text-decoration: none;      
      color: #FFF;
  }

  .button-1:link,               
  .button-1:visited {             
      display: block;             
      text-decoration: none;      
      color: #000000;
  }

 
  
  /* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    width: auto; 
  }
  nav ul {
    width: 90%;
  }
  .hero {
    height: 150px;
  }
}
  
  
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    
  }