* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,  body {
    overflow-x: hidden;
}

  body {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    line-height: 1.8em;
    color: #000000;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
    font-weight: normal;
    font-style: normal;
    text-align: center;
  }
  
  header {
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99;
  }
  
  .logo {
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }

  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  li.selected {
    color: #54A5C4;
  }
  
  li a:link,
  li a:visited {
    color: #ffffff;
    text-decoration: none;
  }
  
  .menu li a:hover,
  .menu li a:visited:hover,
  .menu li a:active,
  .menu li a:visited:active {
    color: #54A5C4;
    text-decoration: underline;
  }

  .hero {
    background-image: url(../img/hero.svg);
    background-repeat: no-repeat;
    background-size: 100%;  
    height: 500px;
    text-align: center;
  }

  .hero p {
    position:relative;
    top: 40px;
    left:140px;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }

  .hero h1 {
    margin-top: 200px;
    margin-right: 0px;
    font-size: 75px;
    color: white;
  }
    
  a {
    color:white;
    text-decoration: none;
  }
  
  .social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 100px;
    display: table-cell; 
    vertical-align: middle;
    text-align:center;
    justify-content: center;
    position:relative;
    left: 1250px;
    bottom: 125px;
    font-size: 30px; 
    
  }
  
  li {
    align-items: center;
  }
  
  .circle {
    height: 50px;
    width: 50px;
    margin: auto;
  }

  .page {
    display: flex;
    flex-wrap: wrap;
  }
      
  .my-work {
    width: 100%;
    margin-top: 5%;
  }

  .section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    width: 40%;
    background-image: url(../img/chi-sono.png);
    background-position: center;
    color:white;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
  }
      
      
  .sign-up {
    background-color: #ffffff;
    width: 40%;
    color:rgb(44, 36, 36);
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5%;
    margin-right: 10%;
    text-align: left;
    font-size: 15px;
  }
      
      
  .logo-design {
    width: 30%;
    margin-left: 5%;
    text-align: center;
    background-image: url(../img/background1.svg);
    background-repeat: no-repeat;
    background-size: 100%;  
    color: white;
    align-items: center;
    display:flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    padding-top: 25px;
    text-align: left;
  }
          
  .copywriting {
    width: 30%;
    background-image: url(../img/background2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    align-items: center;
    display:flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    text-align: left;
  }    
      
  .discovery {
    width: 30%;
    margin-right: 5%;
    background-image: url(../img/background3.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    align-items: center;
    display:flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    text-align: left;
  }

  .wireframing {
    width: 35%;
    margin-left: 15%;
    background-image: url(../img/background4.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    align-items: center;
    display:flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    padding-top: 25px;
    text-align: left;
  }

  .ui-design {
    width: 35%;
    margin-right: 15%;
    background-image: url(../img/background5.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    align-items: center;
    display:flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    padding-top: 25px;
    text-align: left;
  }

  .user-test {
    width: 30%;
    margin-left: 10%;
    margin-bottom: 5%;
    background-image: url(../img/background6.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    align-items: center;
    display:flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    padding-top: 25px;
    text-align: left;
  }

  .final-exam {
    background-color: #f1c4ce;
    width: 50%;
    margin-right: 10%;
    margin-bottom: 5%;
    color: rgb(29, 26, 26);
    align-items: center;
    display:flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    padding-top: 25px;
    text-align: left;
  }

  .content h2 {
    margin-left: 200px;
    margin-bottom: 150px;
  }

  .logo-design h2 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    align-items: flex-start ;
    font-size: 35px;
  }

  .logo-design p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .copywriting h2 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    align-items: flex-start ;
    font-size: 35px;
    padding-top: 40px;
  }

  .copywriting p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .discovery h2 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    align-items: flex-start ;
    font-size: 35px;
    padding-top: 40px;
  }

  .discovery p {
     padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
  }

  .wireframing h2 {
     border-bottom: 2px solid white;
     padding-bottom: 10px;
     align-items: flex-start ;
     font-size: 35px;
     padding-top: 40px;
  }

  .wireframing p {
     padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
  }

  .ui-design h2 {
       border-bottom: 2px solid white;
       padding-bottom: 10px;
       align-items: flex-start;
       font-size: 35px;
       padding-top: 40px;
  }

  .ui-design p {
       padding-top: 20px;
       padding-left: 20px;
       padding-right: 20px;
  }

  .user-test  h2 {
       border-bottom: 2px solid white;
       padding-bottom: 10px;
       align-items: flex-start;
       font-size: 35px;
       padding-top: 40px;
  }
                    
  .user-test  p {
       padding-top: 20px;
       padding-left: 20px;
       padding-right: 20px;
  }

  .final-exam h2 {
       border-bottom: 2px solid rgb(29, 27, 27);
       padding-bottom: 10px;
       align-items: flex-start;
       font-size: 35px;
       padding-top: 40px;
  }
                        
  .final-exam p {
       padding-top: 20px;
       padding-left: 20px;
       padding-right: 20px;
  }
                        
  .my-work h2 {
       font-size: 100px;
       text-align: left;
       margin-left: 10%;
       font-weight: bold;
  }
   

  .button:link,               
  .button:visited {             
      display: block;             
      text-decoration: none;      
      color: #FFF;
  }

  .button-1:link,               
  .button-1:visited {             
      display: block;             
      text-decoration: none;      
      color: #000000;
  }

 
  
  /* Mobile Styles */
@media only screen and (max-width: 400px) {
  header {
    font-size: 12px;
    }
  
  nav ul {
    width: 90%;
  }
  
  .hero {
    height: 150px;
    display: inline-block;
    width: 100%;
  }
  
  .hero h1 {
    width: 50%;
    position: relative;
    left: 130px;
    bottom: 70px; 
    font-size: 28px;
  }
  
  .photo {
    width: 25%;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .social { 
    gap: 5px;
    position:relative;
    bottom: 150px;
    left: 330px;
    font-size: 20px;
  }
  
  .circle {
    height: 30px;
    width: 30px;
  }

  .hero {
    height: 350px; 
    background-image: url(../img/background-home-mobile.svg);
  }

  .hero h1 {
    font-size: 40px;
    padding: 0;
    margin-right: 400px;
    text-align: start;
  }

  .content {
    width: 90%;
    font-size: 50px;
    margin-left: 5%;
    margin-right: 5%;
    height: 200px;
  }
  
  .content h2 {
    font-size: 35px;
    margin-top: 150px;
    margin-left: 100px;
  }
      
  .sign-up {
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    font-size: 9px;
    padding-left: 0%;
    height: 250px;  
  }
  
  .my-work h2 {
    margin-top: 20px;
    font-size: 50px;
    font-weight: bold;
}

  .logo-design {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 250px;
  }
          
  .copywriting {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 250px;
    margin-top: 0%;
  }    
      
  .discovery {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 250px;
  }

  .wireframing {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 250px;
   
  }

  .ui-design {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 250px;
    margin-bottom: 5%;
  }

  .user-test {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 250px;
    margin-bottom: 5%;
  }

  .final-exam {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 250px;
    
  }

  .logo-design h2 {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 30px;
  }

  .logo-design p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .copywriting h2 {
    padding-bottom: 10px;
    font-size: 30px;
    padding-top: 40px;
  }

  .copywriting p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 11px;
  }

  .discovery h2 {
    padding-bottom: 10px;
    font-size: 30px;
    padding-top: 40px;
  }

  .discovery p {
     padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
     font-size: 11px;
  }

  .wireframing h2 {
     padding-bottom: 10px;
     font-size: 30px;
     padding-top: 40px;
  }

  .wireframing p {
     padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
  }

  .ui-design h2 {
       padding-bottom: 10px;
       font-size: 30px;
       padding-top: 40px;
  }

  .ui-design p {
       padding-top: 20px;
       padding-left: 20px;
       padding-right: 20px;
  }

  .user-test  h2 {
       padding-bottom: 10px;
       font-size: 30px;
       padding-top: 40px;
  }
                    
  .user-test  p {
       padding-top: 20px;
       padding-left: 20px;
       padding-right: 20px;
  }

  .final-exam h2 {
       width: 200px;
       border-bottom: 2px solid rgb(29, 27, 27);
       padding-bottom: 10px;
       font-size: 30px;
       padding-top: 40px;
  }
                        
  .final-exam p {
       padding-top: 20px;
       padding-left: 20px;
       padding-right: 20px;
  }                       
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  li.selected {
    color: #54A5C4;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}