* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,  body {
    overflow-x: hidden;
  }
  
  body {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    line-height: 1.8em;
    color: #000000;
  }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
    font-weight: normal;
    font-style: normal;
    text-align: center;
  }

  .page {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/workinprogress-desktop.svg);
    height: 625px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-flow: wrap column;
  }

  .text {
    width: 55%;
    height: 40%;
    color: #000000;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
  }

  .text h1 {
    font-size: 100px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .text p {
    font-size: 30px;
  }

  .home {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;     
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
  }

  .button:link,               
  .button:visited {             
    display: block;             
    text-decoration: none;      
    color: #000000;
  }

        /* Mobile Styles */
@media only screen and (max-width: 400px) {
  .page {
    background-image: url(../img/workinprogress-mobile.svg);
    background-position: center;
    background-size: cover;
    height: 667px;
  }
  
  .text {
    width: 280px;
    height: 250px;
    align-items: center;
    text-align: center;
  }

  .text h1 {
    font-size: 55px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .text p {
    font-size: 15px;
  }

  .home {
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;     
  }

}
  